<div class="fade-in-up">
    <!-- BEGIN PAGE BREADCRUMB -->
    <!-- <ul class="page-breadcrumb breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li class="active"> Dashboard </li>
    </ul> -->
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN MAIN CONTENT -->
    <div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="details">
                        <div class="number"> {{count || 0}} </div>
                        <div class="desc"> Total Users </div>
                    </div>
                    <a class="more" href="admin#!/users"> View more
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
     <!--        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat red">
                    <div class="visual">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"> 20 </div>
                        <div class="desc"> Total Subscriptions </div>
                    </div>
                    <a class="more" href="#"> View more
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div> -->
   
        </div>
      
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->