<div class="row fade-in-up">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-subscription font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">Update Subscription</span>
                </div>
            </div>
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                <form novalidate ng-submit="edit_subscription(editSubscriptionForm.$valid)" class="form-horizontal" name="editSubscriptionForm" ng-keydown="clear($event.target.name, editSubscriptionForm)">
                    <div class="form-body">
                        <div class="form-group form-md-line-input" 
                        ng-class="{ 'has-error': editSubscriptionForm.name.$touched && editSubscriptionForm.name.$invalid || editSubscriptionForm.name.$invalid && editSubscriptionForm.$submitted }">
                            <label class="col-md-2 control-label" for="name">Plan Name </label>
                            <div class="col-md-10">
                                <input type="text" name="name" ng-model="subscription.name" class="form-control" id="name" placeholder="Enter your plan name">
                                
                            </div>
                        </div>
                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editSubscriptionForm.description.$touched && editSubscriptionForm.description.$invalid || editSubscriptionForm.description.$invalid && editSubscriptionForm.$submitted }">
                            <label class="col-md-2 control-label" for="description">Plan Description </label>
                            <div class="col-md-10">
                                <input type="text" name="description" ng-model="subscription.description" class="form-control" id="description" placeholder="Enter your plan description">
                            </div>
                        </div>
                                    
                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editSubscriptionForm.price.$touched && editSubscriptionForm.price.$invalid || editSubscriptionForm.price.$invalid && editSubscriptionForm.$submitted }">
                            <label class="col-md-2 control-label" for="price">Plan Price </label>
                            <div class="col-md-10">
                                <input type="text" name="price" ng-model="subscription.price" class="form-control" id="price" placeholder="Enter your plan price">
                            </div>
                        </div>

                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editSubscriptionForm.features.$touched && editSubscriptionForm.features.$invalid || editSubscriptionForm.features.$invalid && editSubscriptionForm.$submitted }">
                            <label class="col-md-2 control-label" for="features">Plan Features(comma seperated) </label>
                            <div class="col-md-10">
                                <input type="text" name="features" ng-model="subscription.features" class="form-control" id="features" placeholder="Enter your plan features">
                            </div>
                        </div>

                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editSubscriptionForm.type.$touched && editSubscriptionForm.type.$invalid || editSubscriptionForm.type.$invalid && editSubscriptionForm.$submitted }">
                            <label class="col-md-2 control-label" for="type">Plan Type </label>
                            <div class="col-md-10">
                               <select id="type" class="form-control" name="type" ng-model="subscription.type" required>
                                    <option value="">Select Blog Type</option>
                                    <option value="monthly">Monthly</option>
                                    <option value="yearly">Yearly</option>
                               </select>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editSubscriptionForm.status.$touched && editSubscriptionForm.status.$invalid || editSubscriptionForm.status.$invalid && editSubscriptionForm.$submitted }">
                            <label class="col-md-2 control-label" for="status">Plan Status <span class="required">*</span></label>
                            <div class="col-md-10">
                                <select id="status" class="form-control" name="status" ng-model="subscription.status" required ng-options="trade.value as trade.text for trade in [{text: 'Active', value:true},{text: 'Inactive', value: false}]">
                                </select>
                                <div ng-messages="editSubscriptionForm.status.$error"
                                    ng-show="editSubscriptionForm.status.$touched || editSubscriptionForm.$submitted">
                                    <span class="help-block" ng-message="required">Plan Status is required.</span>
                                </div>
                            </div>    
                        </div>
                   <!-- 
                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editSubscriptionForm.expiration_date.$touched && editSubscriptionForm.expiration_date.$invalid || editSubscriptionForm.expiration_date.$invalid && editSubscriptionForm.$submitted }">
                            <label class="col-md-2 control-label" for="expiration_date">Expiration Date<span class="required">*</span></label>
                            <div class="col-md-10">
                              <div class="input-group date date-picker margin-bottom-5" data-date-format="yyyy-mm-dd">
                                <input type="text" class="form-control form-filter input-sm" readonly ng-model="subscription.expiration_date" placeholder="Expiration date">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                                </div>
                                <div ng-messages="editSubscriptionForm.expiration_date.$error"
                                    ng-show="editSubscriptionForm.expiration_date.$touched || editSubscriptionForm.$submitted">
                                    <span class="help-block" ng-message="required">Expiration Date is required.</span>
                                </div>
                            </div>    
                        </div> -->
                 
                  
                     <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button type="submit" ladda="isLoading" class="btn green">Update</button>
                                <a href ui-sref="subscriptions" class="btn default">cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
