<div class="row fade-in-up">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-subscription font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">Update Subscription</span>
                </div>
            </div>
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                <form novalidate ng-submit="edit_subscription(editSubscriptionForm.$valid)" class="form-horizontal" name="editSubscriptionForm" ng-keydown="clear($event.target.name, editSubscriptionForm)">
                    <div class="form-body">
                        <div class="form-group form-md-line-input" 
                        ng-class="{ 'has-error': editSubscriptionForm.name.$touched && editSubscriptionForm.name.$invalid || editSubscriptionForm.name.$invalid && editSubscriptionForm.$submitted }">
                            <label class="col-md-2 control-label" for="name">Plan Name <span class="required">*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="name" ng-model="subscription.name" class="form-control" id="name" placeholder="Enter your plan name" required>
                                <div ng-messages="editSubscriptionForm.name.$error"
                                    ng-show="editSubscriptionForm.name.$touched || editSubscriptionForm.$submitted">
                                    <span class="help-block" ng-message="required">Plan Name is required.</span>
                                    <span class="help-block" ng-message="maxlength">Plan Name cannot be greater than 20 characters</span>
                                 </div> 
                            </div>
         
                        </div>
                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editSubscriptionForm.description.$touched && editSubscriptionForm.description.$invalid || editSubscriptionForm.description.$invalid && editSubscriptionForm.$submitted }">
                            <label class="col-md-2 control-label" for="description">Plan Description <span class="required">*</span></label>
                            <div class="col-md-10">
                                <textarea rows="4" name="description" ng-model="subscription.description" class="form-control" id="description" placeholder="Enter your plan description" required></textarea>
                                <div ng-messages="editSubscriptionForm.description.$error"
                                    ng-show="editSubscriptionForm.description.$touched || editSubscriptionForm.$submitted">
                                    <span class="help-block" ng-message="required">Plan Description is required.</span>
                                </div>
                            </div>
                        </div>
                                    
                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editSubscriptionForm.price.$touched && editSubscriptionForm.price.$invalid || editSubscriptionForm.price.$invalid && editSubscriptionForm.$submitted }">
                            <label class="col-md-2 control-label" for="price">Plan Price($) <span class="required">*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="price" ng-model="subscription.price" class="form-control" id="price" placeholder="Enter your plan price" ng-pattern="/^[0-9]*$/" required>
                                <div ng-messages="editSubscriptionForm.price.$error"
                                    ng-show="editSubscriptionForm.price.$touched || editSubscriptionForm.$submitted">
                                    <span class="help-block" ng-message="required">Plan Price is required.</span>
                                    <span class="help-block" ng-message="pattern"> Plan Price must be digit.</span>
                                </div>
                            </div>
                        </div>

                        <div data-repeater-item class="mt-repeater-item mt-overflow">
                            <div 
                                data-ng-repeat="features in subscription.features track by $index" 
                                class="form-group form-md-line-input mt-repeater" 
                                ng-class="{ 
                                    'has-error': editSubscriptionForm['features_'+$index].$touched && editSubscriptionForm['features_'+$index].$invalid || 
                                    editSubscriptionForm['features_'+$index].$invalid && 
                                    editSubscriptionForm.$submitted 
                                }">
                                <label class="col-md-2 control-label" for="features">Plan Features {{$index + 1}}<span class="required">*</span></label>
                                <div  class="col-md-10 ">
                                    <div class="mt-repeater-cell">
                                        <input type="text" name="features_{{$index}}" ng-model="subscription.features[$index]" class="form-control col-md-7" placeholder="Enter your plan features"  required>  
                                        <a ng-click="removeInput(features)" ng-if="subscription.features.length>1 && !$first" class="btn btn-danger mt-repeater-delete mt-repeater-del-right mt-repeater-btn-inline">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </div>    
                                    <div ng-messages="editSubscriptionForm['features_'+$index].$error"
                                        ng-show="editSubscriptionForm['features_'+$index].$touched || editSubscriptionForm.$submitted">
                                        <span class="help-block" ng-message="required">Plan Features is required.</span>
                                    </div>
                               </div>
                            </div>
                            
                                <button type="button" ng-click="addNewInput()" class="btn btn-success mt-repeater-add col-md-offset-2">
                                    <i class="fa fa-plus"></i> Add new feature
                                </button>
                            
                        </div> 

                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editSubscriptionForm.type.$touched && editSubscriptionForm.type.$invalid || editSubscriptionForm.type.$invalid && editSubscriptionForm.$submitted }">
                            <label class="col-md-2 control-label" for="type">Plan Type <span class="required">*</span></label>
                            <div class="col-md-10">
                               <select id="type" class="form-control" name="type" ng-model="subscription.type" required>
                                    <option value="">Select Blog Type</option>
                                    <option value="monthly">Monthly</option>
                                    <option value="yearly">Yearly</option>
                               </select>
                              <div ng-messages="editSubscriptionForm.type.$error"
                                    ng-show="editSubscriptionForm.type.$touched || editSubscriptionForm.$submitted">
                                    <span class="help-block" ng-message="required">Plan Type is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editSubscriptionForm.order.$touched && editSubscriptionForm.order.$invalid || editSubscriptionForm.order.$invalid && editSubscriptionForm.$submitted }">
                            <label class="col-md-2 control-label" for="order">Plan Order <span class="required">*</span></label>
                            <div class="col-md-10">
                                <select id="order" class="form-control" name="order" ng-model="subscription.order" required>
                                    <option value="">Select</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                <div ng-messages="editSubscriptionForm.order.$error"
                                    ng-show="editSubscriptionForm.order.$touched || editSubscriptionForm.$submitted">
                                    <span class="help-block" ng-message="required">Order is required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editSubscriptionForm.status.$touched && editSubscriptionForm.status.$invalid || editSubscriptionForm.status.$invalid && editSubscriptionForm.$submitted }">
                            <label class="col-md-2 control-label" for="status">Plan Status <span class="required">*</span></label>
                            <div class="col-md-10">
                                <select id="status" class="form-control" name="status" ng-model="subscription.status" required ng-options="trade.value as trade.text for trade in [{text: 'Active', value:true},{text: 'Inactive', value: false}]">
                                </select>
                                <div ng-messages="editSubscriptionForm.status.$error"
                                    ng-show="editSubscriptionForm.status.$touched || editSubscriptionForm.$submitted">
                                    <span class="help-block" ng-message="required">Plan Status is required.</span>
                                </div>
                            </div>    
                        </div>

                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editSubscriptionForm.image.$touched && editSubscriptionForm.image.$invalid || editSubscriptionForm.image.$invalid && editSubscriptionForm.$submitted }">
                            <label class="col-md-2 control-label" for="image">Plan Image <span class="required">*</span></label>
                            <div class="col-md-10">
                                <input ngf-pattern="'image/*'" type="file" ngf-select name="image" ng-model="subscription.image" class="form-control" id="image" placeholder="Click to select file" required></textarea>
                                <div ng-messages="editSubscriptionForm.image.$error"
                                    ng-show="editSubscriptionForm.image.$touched || editSubscriptionForm.$submitted">
                                    <span class="help-block" ng-message="required">Plan Image is required.</span>
                                </div>    
                            </div>
                        </div>
                        <div class="row" ng-show="subscription.image">
                            <div class="col-sm-6 col-md-3 col-md-offset-2">
                                <div class="thumbnail" style="width: 200px;">
                                    <img class="img-responsive" ngf-thumbnail="subscription.image" alt="Preview">
                                </div>
                            </div>
                        </div>
                
                  
                     <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button type="submit" ladda="isLoading" class="btn green">Update</button>
                                <a href ui-sref="subscriptions" class="btn default">cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
