<div class="row fade-in-up">
	<div class="col-md-12">
		<div class="portlet light bordered">
		    <div class="portlet-title">
		        <div class="caption">
		            <i class="icon-equalizer font-green-haze"></i>
		            <span class="caption-subject font-green-haze bold uppercase">View Subscription Info </span>
		            <!-- <span class="caption-helper">some info...</span> -->
		        </div>
		        <div class="tools">
		            <button type="button" ng-click="goBack()" class="btn default">Back</button>
		        </div>
		    </div>
		    <div class="portlet-body form">
		        <!-- BEGIN FORM-->
		        <form class="form-horizontal" role="form">
		            <div class="form-body">
		                <!-- <h2 class="margin-bottom-20"> View User Info - Bob Nilson </h2> -->
		                <h3 class="form-section">Subscription Info</h3>
		                <div class="row">
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label class="control-label col-md-3">Plan Name:</label>
		                            <div class="col-md-9">
		                                <p class="form-control-static"> {{subscriptioninfo.name}} </p>
		                            </div>
		                        </div>
		                    </div>
		                    <!--/span-->
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label class="control-label col-md-3">Plan Description:</label>
		                            <div class="col-md-9">
		                                <p class="form-control-static"> {{subscriptioninfo.description}} </p>
		                            </div>
		                        </div>
		                    </div>
		                    <!--/span-->
		                </div>
		                <!--/row-->
		                <div class="row">
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label class="control-label col-md-3">Plan Price ($):</label>
		                            <div class="col-md-9">
		                                <p class="form-control-static"> {{subscriptioninfo.price}} </p>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label class="control-label col-md-3">Active:</label>
		                            <div class="col-md-9">
		                                <p class="form-control-static">
		                                	<status-label status="subscriptioninfo.status"></status-label>
		                                </p>
		                            </div>
		                        </div>
		                    </div>
		                    <!--/span-->
		                    <!--/span-->
		                </div>
		                <!--/row-->
		                <div class="row">
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label class="control-label col-md-3">Start Date:</label>
		                            <div class="col-md-9">
		                                <p class="form-control-static"> {{subscriptioninfo.created_at | date: format : 'dd/m/y'}} </p>
		                            </div>
		                        </div>
		                    </div>
		                    <!--/span-->
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label class="control-label col-md-3">Type:</label>
		                            <div class="col-md-9">
		                                <p class="form-control-static"> {{subscriptioninfo.type}} </p>
		                            </div>
		                        </div>
		                    </div>
		                    <!--/span-->
		                </div>
		                <div class="row">
		                  <div class="col-md-6">
	                         <div class="form-group">
	                           <label class="control-label col-md-3">Features:</label>
	                            <div class="col-md-9">
	                               <table class="table table-bordered">
										<tr ng-repeat="features in subscriptioninfo.features">
										    <td>{{features}}</td>
										 </tr>
									</table>
									<style>table, tr, td {
									    border: 1px solid black;
									}</style>
	        
	                            </div>
	                         </div>
	                        </div>

	                        <div class="col-md-6">
		                        <div class="form-group">
		                            <label class="control-label col-md-3">Image:</label>
		                            <div class="col-md-9">
		                                <p class="form-control-static"> 
		                                	<div class="thumbnail" style="width: 200px;">
			                	            	<img class="img-responsive" ng-src="{{subscriptioninfo.image.path}}" alt="{{subscriptioninfo.image.name}}"/>
			                	            </div>
		                                </p>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <!--/row-->
		            </div>
		            <div class="form-actions">
		                <div class="row">
		                    <div class="col-md-6">
		                        <div class="row">
		                            <div class="col-md-offset-3 col-md-9">
		                                <button type="button" ng-click="goToEdit()" class="btn green">
		                                    <i class="fa fa-pencil"></i> Edit</button>
		                                <button type="button" ng-click="goBack()" class="btn default">Back</button>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-md-6"> </div>
		                </div>
		            </div>
		        </form>
		        <!-- END FORM-->
		    </div>
		</div>
	</div>
</div>		
