<div class="row fade-in-up">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-user font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">Add New Terms &amp; Conditions Section</span>
                </div>
            </div>
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                <form novalidate ng-submit="new_termscondition(newTermsCondForm.$valid)" class="form-horizontal" name="newTermsCondForm" ng-keydown="clear($event.target.name, newTermsCondForm)">
                    <div class="form-body">
                        <div class="form-group form-md-line-input" 
                        ng-class="{ 'has-error': newTermsCondForm.title.$touched && newTermsCondForm.title.$invalid || newTermsCondForm.title.$invalid && newTermsCondForm.$submitted }">
                            <label class="col-md-2 control-label" for="title">Title <span class="required">*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="title" ng-model="termsconditions.title" class="form-control" id="title" placeholder="Enter your termsconditions title" required>
                                <div ng-messages="newTermsCondForm.title.$error"
                                    ng-show="newTermsCondForm.title.$touched || newTermsCondForm.$submitted">
                                    <span class="help-block" ng-message="required">Title is required.</span>
                                </div>
                            </div>
                        </div>
                          
                                 
                         <div class="form-group form-md-line-input" ng-class="{ 'has-error': newTermsCondForm.description.$touched && newTermsCondForm.description.$invalid || newTermsCondForm.description.$invalid && newTermsCondForm.$submitted }">
                            <label class="col-md-2 control-label" for="description">Description <span class="required">*</span></label>
                            <div class="col-md-10">
                            <text-angular ng-required="true" ng-model="termsconditions.description"></text-angular>
                                <div ng-messages="newTermsCondForm.description.$error"
                                    ng-show="newTermsCondForm.description.$touched || newTermsCondForm.$submitted">
                                    <span class="help-block" ng-message="required">Description is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button type="submit" ladda="isLoading" class="btn green">Submit</button>
                                <a href ui-sref="termsconditions" class="btn default">cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
