<div class="row fade-in-up">
	<div class="col-md-12">
		<div class="portlet light bordered">
		    <div class="portlet-title">
		        <div class="caption">
		            <i class="icon-equalizer font-green-haze"></i>
		            <span class="caption-subject font-green-haze bold uppercase">View Blog Info - {{blog.title}}</span>
		            <span class="caption-helper"><i>(last update on {{blog.updated_at | date: format : 'dd/m/y'}})</i></span>
		        </div>
		        <div class="tools">
		            <button ui-sref="blogs" class="btn default">Back</button>
		        </div>
		    </div>
		    <div class="portlet-body form">
		        <!-- BEGIN FORM-->
		        <form class="form-horizontal" role="form">
		            <div class="form-body">
		                <!-- <h2 class="margin-bottom-20"> View User Info - Bob Nilson </h2> -->
		                <h3 class="form-section">Blog Section Info</h3>
		                <div class="row">
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label class="control-label col-md-3">Title:</label>
		                            <div class="col-md-9">
		                                <p class="form-control-static"> {{blog.title}} </p>
		                            </div>
		                        </div>
		                    </div>
		                    <!--/span-->
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label class="control-label col-md-3">Date:</label>
		                            <div class="col-md-9">
		                                <p class="form-control-static"> {{blog.created_at | date: format : 'dd/m/y'}}  </p>
		                            </div>
		                        </div>
		                    </div>
		                    <!--/span-->
		                </div>
		                <div class="row">
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label class="control-label col-md-3">Slug:</label>
		                            <div class="col-md-9">
		                                <p class="form-control-static"> {{blog.slug}} </p>
		                            </div>
		                        </div>
		                    </div>
		                    <!--/span-->
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label class="control-label col-md-3">Short Description:</label>
		                            <div class="col-md-9">
		                                <p class="form-control-static"> {{blog.short_description}}  </p>
		                            </div>
		                        </div>
		                    </div>
		                    <!--/span-->
		                </div>
		                <div class="row">
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label class="control-label col-md-3">Status:</label>
		                            <div class="col-md-9">
		                                <p class="form-control-static"> 
		                                	<status-label status="blog.status"></status-label>
		                                </p>
		                            </div>
		                        </div>
		                    </div>
		                    <!--/span-->
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label class="control-label col-md-3">Image:</label>
		                            <div class="col-md-9">
		                                <p class="form-control-static"> 
		                                	<div class="thumbnail" style="width: 200px;">
			                	            	<img class="img-responsive" ng-src="{{blog.image}}" alt="{{blog.image}}"/>
			                	            </div>
		                                </p>
		                            </div>
		                        </div>
		                    </div>
		                    <!--/span-->
		                </div>
		                <!--/row-->
		                <div class="row">
		                    <div class="col-md-6">
		                        <div class="form-group">
		                            <label class="control-label col-md-3">Description:</label>
		                            <div class="col-md-9">
		                                <p class="form-control-static" ng-bind-html="blog.description">  </p>
		                            </div>
		                        </div>
		                    </div>
		                    <!--/span-->
		                </div>
		                <!--/row-->
		            </div>
		            <div class="form-actions">
		                <div class="row">
		                    <div class="col-md-6">
		                        <div class="row">
		                            <div class="col-md-offset-3 col-md-9">
		                                <button type="button" ng-click="goToEdit()" class="btn green">
		                                    <i class="fa fa-pencil"></i> Edit</button>
		                                <a href ui-sref="blogs" class="btn default">Back</a>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-md-6"> </div>
		                </div>
		            </div>
		        </form>
		        <!-- END FORM-->
		    </div>
		</div>
	</div>
</div>		