  
  .lftInfoPopup{
    border: 1px solid #e2e2e2;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.12);
    position: fixed;
    z-index: 99;
    transition: all 1s;
    bottom: 40px;background: #FFF;width: 320px;border-radius: 8px;left:-100%;
  }

  .lftInfoPopup.active{left: 20px;transition: all .5s;}
  .bubble{display: table;width: 320px;}
  .bubbleImg{display: table-cell; vertical-align:top;width:25%;padding: 10px;background: #1b8ecf;border-top-left-radius: 8px;border-bottom-left-radius: 8px;}
  .bubbleImg img{border: 1px solid #fff;border-radius: 8px;}
  .bubbleCntnt{display: table-cell; vertical-align:top;width:75%;font-size: 12px;color: #939393;padding: 12px 15px;}
  .bubbleCntnt .bubblewho{font-size: 14px;color: #000;font-weight: 600;}
  .bubblePoweredBy{display: inline-block;vertical-align:middle;}
  .bubblePoweredBy a{display: inline-block;vertical-align:middle; color: #ffbd00; text-transform:uppercase;}
  .bubblePoweredBy i{display: inline-block;vertical-align:middle;}
  .close-button{position: absolute;right: 8px;top: 8px;}
