<div class="row fade-in-up">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-user font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">Update Testimonial Section</span>
                </div>
            </div>
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                <form novalidate ng-submit="edit_testimonial(editTestimonialForm.$valid)" class="form-horizontal" name="editTestimonialForm" ng-keydown="clear($event.target.name, editTestimonialForm)">
                    <div class="form-body">
                        <div class="form-group form-md-line-input" 
                        ng-class="{ 'has-error': editTestimonialForm.name.$touched && editTestimonialForm.name.$invalid || editTestimonialForm.name.$invalid && editTestimonialForm.$submitted }">
                            <label class="col-md-2 control-label" for="name">Name <span class="required">*</span></label>
                            <div class="col-md-10">
                                <input type="text" name="name" ng-model="testimonial.name" class="form-control" id="name" placeholder="Enter your testimonial name" required>
                                <div ng-messages="editTestimonialForm.name.$error"
                                    ng-show="editTestimonialForm.name.$touched || editTestimonialForm.$submitted">
                                    <span class="help-block" ng-message="required">Name is required.</span>
                                </div>
                            </div>
                        </div>      
                                 
                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editTestimonialForm.description.$touched && editTestimonialForm.description.$invalid || editTestimonialForm.description.$invalid && editTestimonialForm.$submitted }">
                            <label class="col-md-2 control-label" for="description">Description <span class="required">*</span></label>
                            <div class="col-md-10">
                                <textarea rows="4" name="description" ng-model="testimonial.description" class="form-control" id="description" placeholder="Enter your short description" required></textarea>
                                <div ng-messages="editTestimonialForm.description.$error"
                                    ng-show="editTestimonialForm.description.$touched || editTestimonialForm.$submitted">
                                    <span class="help-block" ng-message="required">Description is required.</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editTestimonialForm.image.$touched && editTestimonialForm.image.$invalid || editTestimonialForm.image.$invalid && editTestimonialForm.$submitted }">
                            <label class="col-md-2 control-label" for="image">Testimonial Image <span class="required">*</span></label>
                            <div class="col-md-10">
                                <input ngf-pattern="'image/*'" type="file" ngf-select name="image" ng-model="testimonial.image" class="form-control" id="image" placeholder="Click to select file" required></textarea>
                                <div ng-messages="editTestimonialForm.image.$error"
                                    ng-show="editTestimonialForm.image.$touched || editTestimonialForm.$submitted">
                                    <span class="help-block" ng-message="required">Testimonial Image is required.</span>
                                </div>    
                            </div>
                        </div>
                        <div class="row" ng-show="testimonial.image">
                            <div class="col-sm-6 col-md-3 col-md-offset-2">
                                <div class="thumbnail" style="width: 200px;">
                                    <img class="img-responsive" ngf-thumbnail="testimonial.image" alt="Preview">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button type="submit" ladda="isLoading" class="btn green">Update</button>
                                <a href ui-sref="testimonials" class="btn default">cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
