<div class="row fade-in-up">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-user font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">Update Homepage Section</span>
                </div>
            </div>
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                <form novalidate ng-submit="update_homepage(updateHomepageForm.$valid, homepage)" class="form-horizontal" name="updateHomepageForm">
                    <div class="form-body">

                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': updateHomepageForm.banner.$touched && updateHomepageForm.banner.$invalid || updateHomepageForm.banner.$invalid && updateHomepageForm.$submitted }">
                            <label class="col-md-3 control-label" for="banner">Homepage Banner Image</label>
                            <div class="col-md-9">
                                <input ngf-pattern="'image/*'" type="file" ngf-multiple="true" ngf-keep="true" ngf-select name="banner" ng-model="homepage.banner_img" class="form-control" id="banner" placeholder="Click to select file"></textarea>
                                <div ng-messages="updateHomepageForm.banner.$error"
                                    ng-show="updateHomepageForm.banner.$touched || updateHomepageForm.$submitted">
                                    <span class="help-block" ng-message="required">Banner Image is required.</span>
                                </div>    
                            </div>
                        </div>

                        <div class="row"  ng-show="homepage.banner_img">
                            <div class="col-sm-12 col-md-8 col-md-offset-3" >
                                <div class="col-sm-12 col-md-4" ng-repeat="image in homepage.banner_img">
                                    <div class="thumbnail" style="width: 200px;">
                                        <img class="img-responsive" ngf-thumbnail="image" alt="Preview">
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-10 col-md-offset-2">
                            <h3 class="form-section ">How it Works Section</h3>
                        </div>  
                        <div class="form-group form-md-line-input" 
                        ng-class="{ 'has-error': updateHomepageForm.video_url.$touched && updateHomepageForm.video_url.$invalid || updateHomepageForm.video_url.$invalid && updateHomepageForm.$submitted }">
                            <label class="col-md-3 control-label" for="video_url">How It Works Video URL<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input type="text" name="video_url" ng-model="homepage.how_it_works.video_url" ng-pattern="/^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=|\?v=)([^#\&\?]*).*/" class="form-control" id="video_url" placeholder="Enter your video url" required>
                                <div ng-messages="updateHomepageForm.video_url.$error"
                                    ng-show="updateHomepageForm.video_url.$touched || updateHomepageForm.$submitted">
                                    <span class="help-block" ng-message="required">URL is required.</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group form-md-line-input" 
                        ng-class="{ 'has-error': updateHomepageForm.video_text.$touched && updateHomepageForm.video_text.$invalid || updateHomepageForm.video_text.$invalid && updateHomepageForm.$submitted }">
                            <label class="col-md-3 control-label" for="video_text">How It Works Text<span class="required">*</span></label>
                            <div class="col-md-9">
                                <textarea rows="3" name="video_text" ng-model="homepage.how_it_works.video_text" class="form-control" id="video_text" placeholder="Enter how it works text" required></textarea>
                                <div ng-messages="updateHomepageForm.video_text.$error"
                                    ng-show="updateHomepageForm.video_text.$touched || updateHomepageForm.$submitted">
                                    <span class="help-block" ng-message="required">How It Works Text is required.</span>
                                </div>
                            </div>
                        </div>
                 
                        
                        <div class="col-md-10 col-md-offset-2">
                            <h3 class="form-section ">Using Tool In 3 Simple Steps Section</h3>
                        </div>    
                       <div class="form-group form-md-line-input" 
                        ng-class="{ 'has-error': updateHomepageForm.step1Title.$touched && updateHomepageForm.step1Title.$invalid || updateHomepageForm.step1Title.$invalid && updateHomepageForm.$submitted }">
                            <label class="col-md-3 control-label" for="step1Title">Step 1 Title<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input type="text" name="step1Title" ng-model="homepage.simple_steps.step1.title" class="form-control" id="step1Title" placeholder="Enter step 1 title" required>
                                <div ng-messages="updateHomepageForm.step1Title.$error"
                                    ng-show="updateHomepageForm.step1Title.$touched || updateHomepageForm.$submitted">
                                    <span class="help-block" ng-message="required">Step 1 title is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input" 
                        ng-class="{ 'has-error': updateHomepageForm.step1Text.$touched && updateHomepageForm.step1Text.$invalid || updateHomepageForm.step1Text.$invalid && updateHomepageForm.$submitted }">
                            <label class="col-md-3 control-label" for="step1Text">Step 1 Text<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input type="text" name="step1Text" ng-model="homepage.simple_steps.step1.text" class="form-control" id="step1Text" placeholder="Enter step1Text text" required>
                                <div ng-messages="updateHomepageForm.step1Text.$error"
                                    ng-show="updateHomepageForm.step1Text.$touched || updateHomepageForm.$submitted">
                                    <span class="help-block" ng-message="required">Step 1 text is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input" 
                        ng-class="{ 'has-error': updateHomepageForm.step2Title.$touched && updateHomepageForm.step2Title.$invalid || updateHomepageForm.step2Title.$invalid && updateHomepageForm.$submitted }">
                            <label class="col-md-3 control-label" for="step2Title">Step 2 Title<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input type="text" name="step2Title" ng-model="homepage.simple_steps.step2.title" class="form-control" id="step2Title" placeholder="Enter step 2 title" required>
                                <div ng-messages="updateHomepageForm.step2Title.$error"
                                    ng-show="updateHomepageForm.step2Title.$touched || updateHomepageForm.$submitted">
                                    <span class="help-block" ng-message="required">Step 2 title is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input" 
                        ng-class="{ 'has-error': updateHomepageForm.step2Text.$touched && updateHomepageForm.step2Text.$invalid || updateHomepageForm.step2Text.$invalid && updateHomepageForm.$submitted }">
                            <label class="col-md-3 control-label" for="step2Text">Step 2 Text<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input type="text" name="step2Text" ng-model="homepage.simple_steps.step2.text" class="form-control" id="step2Text" placeholder="Enter step2 text" required>
                                <div ng-messages="updateHomepageForm.step2Text.$error"
                                    ng-show="updateHomepageForm.step2Text.$touched || updateHomepageForm.$submitted">
                                    <span class="help-block" ng-message="required">Step 2 text is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input" 
                        ng-class="{ 'has-error': updateHomepageForm.step3Title.$touched && updateHomepageForm.step3Title.$invalid || updateHomepageForm.step3Title.$invalid && updateHomepageForm.$submitted }">
                            <label class="col-md-3 control-label" for="step3Title">Step 3 Title<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input type="text" name="step3Title" ng-model="homepage.simple_steps.step3.title" class="form-control" id="step3Title" placeholder="Enter step 3 title" required>
                                <div ng-messages="updateHomepageForm.step3Title.$error"
                                    ng-show="updateHomepageForm.step3Title.$touched || updateHomepageForm.$submitted">
                                    <span class="help-block" ng-message="required">Step 3 title is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input" 
                        ng-class="{ 'has-error': updateHomepageForm.step3Text.$touched && updateHomepageForm.step3Text.$invalid || updateHomepageForm.step3Text.$invalid && updateHomepageForm.$submitted }">
                            <label class="col-md-3 control-label" for="step3Text">Step 3 Text<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input type="text" name="step3Text" ng-model="homepage.simple_steps.step3.text" class="form-control" id="step3Text" placeholder="Enter step3 text" required>
                                <div ng-messages="updateHomepageForm.step3Text.$error"
                                    ng-show="updateHomepageForm.step3Text.$touched || updateHomepageForm.$submitted">
                                    <span class="help-block" ng-message="required">Step 3 text is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 col-md-offset-2">
                            <h3 class="form-section ">Homepage Footer Contact Section</h3>
                        </div>   
                         <div class="form-group form-md-line-input" ng-class="{ 'has-error': updateHomepageForm.address.$touched && updateHomepageForm.address.$invalid || updateHomepageForm.address.$invalid && updateHomepageForm.$submitted }">
                             <label class="col-md-3 control-label" for="address">Address<span class="required">*</span></label>
                             <div class="col-md-9">
                                 <textarea rows="3" name="address" ng-model="homepage.site.address" class="form-control" id="address" placeholder="Enter your address" required></textarea>
                                 <div ng-messages="updateHomepageForm.address.$error"
                                     ng-show="updateHomepageForm.address.$touched || updateHomepageForm.$submitted">
                                     <span class="help-block" ng-message="required"> Address is required.</span>
                                 </div>
                             </div>
                         </div>
                         <div class="form-group form-md-line-input" 
                         ng-class="{ 'has-error': updateHomepageForm.phone.$touched && updateHomepageForm.phone.$invalid || updateHomepageForm.phone.$invalid && updateHomepageForm.$submitted }">
                             <label class="col-md-3 control-label" for="phone">Phone<span class="required">*</span></label>
                             <div class="col-md-9">
                                 <input type="text" name="phone" ng-model="homepage.site.phone" class="form-control" id="phone" placeholder="Enter your phone" required>
                                 <div ng-messages="updateHomepageForm.phone.$error"
                                     ng-show="updateHomepageForm.phone.$touched || updateHomepageForm.$submitted">
                                     <span class="help-block" ng-message="required">Phone is required.</span>
                                 </div>
                             </div>
                         </div>
                        <div class="form-group form-md-line-input" 
                         ng-class="{ 'has-error': updateHomepageForm.fax.$touched && updateHomepageForm.fax.$invalid || updateHomepageForm.fax.$invalid && updateHomepageForm.$submitted }">
                             <label class="col-md-3 control-label" for="fax">Fax<span class="required">*</span></label>
                             <div class="col-md-9">
                                 <input type="text" name="fax" ng-model="homepage.site.fax" class="form-control" id="fax" placeholder="Enter your fax" required>
                                 <div ng-messages="updateHomepageForm.fax.$error"
                                     ng-show="updateHomepageForm.fax.$touched || updateHomepageForm.$submitted">
                                     <span class="help-block" ng-message="required">FAX is required.</span>
                                 </div>
                             </div>
                         </div>
                        <div class="form-group form-md-line-input" 
                         ng-class="{ 'has-error': updateHomepageForm.domain.$touched && updateHomepageForm.domain.$invalid || updateHomepageForm.domain.$invalid && updateHomepageForm.$submitted }">
                             <label class="col-md-3 control-label" for="domain">Domain<span class="required">*</span></label>
                             <div class="col-md-9">
                                 <input type="text" name="domain" ng-model="homepage.site.domain" class="form-control" id="domain" placeholder="Enter your domain" required>
                                 <div ng-messages="updateHomepageForm.domain.$error"
                                     ng-show="updateHomepageForm.domain.$touched || updateHomepageForm.$submitted">
                                     <span class="help-block" ng-message="required">Domain is required.</span>
                                 </div>
                             </div>
                         </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button type="submit" ladda="isLoading" class="btn green">Submit</button>
                                <a href ui-sref="homepage" class="btn default">cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
