<div class="row fade-in-up">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form ">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-user font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">Update User</span>
                </div>
            </div>
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                <form novalidate ng-submit="edit_user(editUserForm.$valid)" class="form-horizontal" name="editUserForm" ng-keydown="clear($event.target.name, editUserForm)">
                    <div class="form-body">
                        <div class="form-group form-md-line-input" 
                        ng-class="{ 'has-error': editUserForm.firstname.$touched && editUserForm.firstname.$invalid || editUserForm.firstname.$invalid && editUserForm.$submitted }">
                            <label class="col-md-2 control-label" for="firstname">First Name </label>
                            <div class="col-md-10">
                                <input type="text" name="firstname" ng-model="user.firstname" class="form-control" id="firstname" placeholder="Enter your first name">
                                
                            </div>
                        </div>
                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editUserForm.lastname.$touched && editUserForm.lastname.$invalid || editUserForm.lastname.$invalid && editUserForm.$submitted }">
                            <label class="col-md-2 control-label" for="lastname">Last Name </label>
                            <div class="col-md-10">
                                <input type="text" name="lastname" ng-model="user.lastname" class="form-control" id="lastname" placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editUserForm.email.$touched && editUserForm.email.$invalid || editUserForm.email.$invalid && editUserForm.$submitted }">
                            <label class="col-md-2 control-label" for="email">Email <span class="required">*</span></label>
                            <div class="col-md-10">
                                <input type="email" name="email" ng-model="user.email" class="form-control" id="email" placeholder="Enter your email address" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([A-Za-z0-9\-])+\.)+([a-zA-Z]{2,3})+$/" ng-maxlength="100" required readonly>
                                <div ng-messages="editUserForm.email.$error"
                                    ng-show="editUserForm.email.$touched || editUserForm.$submitted">
                                    <span class="help-block" ng-message="required">Email is required.</span>
                                    <span class="help-block" ng-message="pattern">Enter valid email address</span>
                                    <span class="help-block" ng-message="unique">This email is already exists</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editUserForm.mobile_phone.$touched && editUserForm.mobile_phone.$invalid || editUserForm.mobile_phone.$invalid && editUserForm.$submitted }">
                            <label class="col-md-2 control-label" for="mobile_phone">Mobile Phone</label>
                            <div class="col-md-10">
                                <input type="text" name="mobile_phone" ng-model="user.mobile_phone" class="form-control" id="mobile_phone" placeholder="Enter your mobile phone" ng-maxlength="20" ui-mask="999-999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_">
                                <!-- <div ng-messages="editUserForm.mobile_phone.$error"
                                    ng-show="editUserForm.mobile_phone.$touched || editUserForm.$submitted">
                                    <span class="help-block" ng-message="required">Mobile Phone is required.</span>
                                    <span class="help-block" ng-message="maxlength">Mobile Phone cannot be greater than 20 characters</span>
                                </div> -->
                            </div>
                        </div>
                        
                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editUserForm.status.$touched && editUserForm.status.$invalid || editUserForm.status.$invalid && editUserForm.$submitted }">
                            <label class="col-md-2 control-label" for="status">User Status <span class="required">*</span></label>
                            <div class="col-md-10">
                                <select id="status" class="form-control" name="status" ng-model="user.status" required ng-options="trade.value as trade.text for trade in [{text: 'Active', value:true},{text: 'Inactive', value: false}]">
                                </select>
                                <div ng-messages="editUserForm.status.$error"
                                    ng-show="editUserForm.status.$touched || editUserForm.$submitted">
                                    <span class="help-block" ng-message="required">User Status is required.</span>
                                </div>
                            </div>    
                        </div>
                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editUserForm.email_verified.$touched && editUserForm.email_verified.$invalid || editUserForm.email_verified.$invalid && editUserForm.$submitted }">
                            <label class="col-md-2 control-label" for="email_verified">Email Verification <span class="required">*</span></label>
                            <div class="col-md-10">
                                <select id="email_verified" class="form-control" name="email_verified" ng-model="user.email_verified" required ng-options="trade.value as trade.text for trade in [{text: 'Verfied', value:true},{text: 'Not Verfied', value: false}]">
                                </select>
                                <div ng-messages="editUserForm.email_verified.$error"
                                    ng-show="editUserForm.email_verified.$touched || editUserForm.$submitted">
                                    <span class="help-block" ng-message="required">Email Verification is required.</span>
                                </div>
                            </div>    
                        </div>
                        <div class="form-group form-md-line-input" ng-class="{ 'has-error': editUserForm.profile_image.$touched && editUserForm.profile_image.$invalid || editUserForm.profile_image.$invalid && editUserForm.$submitted }">
                            <label class="col-md-2 control-label" for="profile_image">Profile Image</label>
                            <div class="col-md-10">
                                <input ngf-pattern="'image/*'" type="file" ngf-select name="profile_image" ng-model="user.profile_image" class="form-control" id="profile_image" placeholder="Click to select file"></textarea>
                                <div ng-messages="editUserForm.profile_image.$error"
                                    ng-show="editUserForm.profile_image.$touched || editUserForm.$submitted">
                                    <span class="help-block" ng-message="required">Profile Image is required.</span>
                                </div>    
                            </div>
                        </div>
                        <div class="row" ng-show="user.profile_image">
                            <div class="col-sm-6 col-md-3 col-md-offset-2">
                                <div class="thumbnail" style="width: 200px;">
                                    <img class="img-responsive" ngf-thumbnail="user.profile_image" alt="Preview">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-9">
                                <button type="submit" ladda="isLoading" class="btn green">Update</button>
                                <a href ui-sref="users" class="btn default">cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
